--font-family-h1: Inter, sans-serif;
--font-family-h2: Inter, sans-serif;
--font-family-h3: Inter, sans-serif;
--font-family-h4: Inter, sans-serif;
--font-family-h5: Inter, sans-serif;
--font-family-h6: Inter, sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

